body {
	font-family: 'Montserrat';
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
}

p {
	color: #8f8f8f;
}

/*Headings*/
.big-heading {
	line-height: 1.5;
	font-size: 3.5rem;
	font-weight: 900;
}

.section-heading {
	font-size: 3rem;
	line-height: 1.5;
}


/*Padding*/
.container-fluid,
.carousel-item {
	padding: 7% 15%;
}


/*Title*/

#title {
	background-color: #ff4c68;
	color: #ffffff;
	position: relative;
	text-align: left;
}

#title .container-fluid {
	padding: 3% 15% 7%;
}

/*Navigation Bar*/

.navbar-brand {
	font-family: 'Ubuntu';
	font-size: 2.5rem;
	font-weight: bold;
}

.navbar {
	padding-bottom: 4.5rem;
}

.nav-item {
	padding: 0 18px;
}

.nav-link {
	font-size: 1.2rem;
	font-weight: 100;
}

/*Download Button*/

.download-button {
	margin: 5% 3% 5% 0;
}

#title {
	position: relative;
	z-index: 1;
}



/*Title Image*/
.title-image {
	margin-left: 8rem;
	width: 60%;
	transform: rotate(25deg);
	z-index: -1;
}

/*Feature Section*/

#features {
	position: relative;
	margin-top: -15rem;
	background-color: white;
	z-index: 99;
}

.feature-title {
	font-size: 1.5rem;
}

.feature-box {
	font-size: 1rem;
	padding: 5%;
}

.feature-box i {
	color: #ef8172;
	padding-bottom: 1rem;
}

.feature-box i:hover {
	color: #ff4c68;
}

/*Testimonil Section*/

#testimonials {
	position: relative;
	background-color: #ef8172;
	color: #fff;
}

.testimonial-text {
	font-size: 3rem;
	line-height: 1.5;
}


.testimonial-image {
	width: 10%;
	border-radius: 100%;
	margin: 20px;
}

#press {
	position: relative;
	background-color: #ef8172;
	padding-bottom: 3%;
}

.press-logo {
	width: 15%;
	margin: 20px 20px 50px;
}



/*Pricing Section*/
#pricing {
	position: relative;
	padding: 6rem;
}

.price-text {
	font-size: 3rem;
	line-height: 1.5;
}

.card {
	padding: 0;
}

.pricing-column {
	padding: 3%;
}

/*CTA*/
#cta {
	position: relative;
	background-color: #ff4c68;
	color: #fff;
}


/*Footer*/

#footer {
	position: relative;
	background-color: #fff;
}

#footer i {
	padding: 10px 5px;
}

@media screen and (max-width: 820px) {
	.title-image {
		transform: rotate(0);
		margin: auto;
		margin-top: 5rem;
		width: 100%;
	}

	#features {
		margin-top: -7rem;
	}

	#pricing {
		padding: 2rem;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 3rem;
	}
}